@model LibraryManagementSystem.EF_Models.LmsBookGenre

<style>
    .mlcustom {
        margin-left: 5px !important;
    }
</style>

<h3>Edit Book Genre</h3>

<form method="post" asp-action="EditGenre">
    <div>
        <input type="hidden" asp-for="BookGenreId"/>
    </div>

    <div>
        <label>Book Genre:</label><br />
        <input type="text" asp-for="BookGenre" class="form-control"/>
        <span asp-validation-for="BookGenre" class="text-danger"></span>
    </div>

    <button type="submit" asp-action="EditGenre" class="btn btn-primary mt-2 ">Submit </button>
    <a asp-action="Index" class="btn btn-info mt-2 mlcustom">Cancel</a>

</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
