@model LibraryManagementSystem.EF_Models.LmsInventoryCode

<h3>Create Inventory Code</h3>

<form asp-action="CreateInventoryCode">
    <label>Book Code:</label><br />
    <input type="text" class="form-control" asp-for=Code/>
    <span asp-validation-for="Code" class="text-danger"></span>

    <button class="btn btn-primary" type="submit">Submit</button>
    <a asp-action="Index" class="btn btn-info">Cancel</a>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}