@model LibraryManagementSystem.EF_Models.LmsStaff

<h3>Create Staff</h3>

<form asp-action="Create_Staff" enctype="multipart/form-data">
    <label>First Name:</label><br/>
    <input type="text" asp-for="FirstName" /><br />
    <label>last Name:</label><br />
    <input type="text" asp-for="LastName" /><br />
    <label> Email:</label><br />
    <input type="email" asp-for="Email" /><br />
    <label>Password:</label><br />
    <input type="text" asp-for="Password" /><br />
    
    <div class="form-group">
        <label asp-for="ImagePath" class="control-label"></label>
        <input type="file" asp-for="ImagePath" class="form-control"/>
        <span asp-validation-for="CreatedDate" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <button asp-action="Index" class="btn btn-info">Cancel</button>
</form>
